@import "icon";
@import "typography";
@import "space";
@import "color";

.link {
  outline: 0;
  text-decoration: none;
}

.icon_link {
  .link();
  color: @text;
}

.top_nav {
  padding-left: @space_unit * 4;
  padding-right: @space_unit * 4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.top_nav_item {
  .headline5();
  .link();
  padding-left: @space_unit * 2;
  padding-right: @space_unit * 2;
  word-break: keep-all;
  color: gray;
  display: flex;
}

.app_bar {
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: @space_unit * 2;
  padding-bottom: @space_unit * 2;
}

.app_bar_icon {
  .icon_small();
  display: flex;
  margin-left: @space_unit * 4;
  margin-right: @space_unit * 4;
}

.app_bar_title {
  .headline4();
  display: flex;
}

.no_margin {
  margin: 0 auto;
}
