@import "size";
@import "typography";
@import "space";
@import "color";

.app_content {
  display: flex;
  padding-top: @space_unit * 5;
}

.main {
  .main_size();
  padding-left: @space_unit * 15;
}

.link {
  outline: 0;
  text-decoration: none;
}

.icon_link {
  .link();
  color: @text;
}

.side_bar {
  .side_bar_size();
  padding-left: @space_unit * 2;
  padding-right: @space_unit * 2;
}

.side_bar_search {
  width: @side_bar_width - (@space_unit * 2);
}

.topicItem {
  .headline6();
  margin-top: @space_unit * 4;
  margin-bottom: @space_unit;
  margin-left: @space_unit;
}

.articleItem {
  .plain();
  .link();
  margin-left: @space_unit * 2;
  color: gray;
}

.top_nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.top_nav_item {
  .headline5();
  .link();
  padding-right: @space_unit * 4;
  word-break: keep-all;
  color: gray;
  display: flex;
}

.app_bar {
  .app_bar_size();
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: @space_unit * 2;
  padding-bottom: @space_unit * 2;
}

.app_bar_icon {
  .icon_small();
  display: flex;
  margin-left: @space_unit * 4;
  margin-right: @space_unit * 4;
}

.app_bar_title {
  .headline4();
  display: flex;
  padding-right: @space_unit * 16;
}

.no_margin {
  margin: 0 auto;
}
